# Only vps inventory label can access these variables as this is called vps.yml
# Centralized backend IP (e.g., your Raspberry Pi Tailscale IP)
backend_ip: "100.120.189.53"
backend_ip2: "127.0.0.1" # Localhost for services running on this VPS

# VPS Caddy Sites Configuration
# 
# Define all your reverse proxy sites here.
# Each site needs a domain pointing to the VPS public IP in DNS.

caddy_sites:
  - domain: passwords.pi.junttila.dev
    backend: "{{ backend_ip }}:3005"
  
  - domain: analytics.junttila.dev  
    backend: "{{ backend_ip }}:8102"

  - domain: bookmarks.pi.junttila.dev  
    backend: "{{ backend_ip }}:8100"
  #analytics backend
  - domain: backend.pi.junttila.dev
    backend: "{{ backend_ip }}:8000"

  - domain: pocket.junttila.dev
    backends:
      #- "{{ backend_ip }}:8090" #has only a sqlite database and assets are stored in server so loadbalancing will not work
      - "{{ backend_ip2 }}:8090"
    lb_policy: round_robin
    health_uri: /api/health

  - domain: booking.junttila.dev
    backends:
      - "{{ backend_ip }}:5000"
      - "{{ backend_ip2 }}:5000"
    lb_policy: round_robin
    health_uri: /health

  - domain: grafana.junttila.dev
    backend: "{{ backend_ip }}:3222"
