## This handler will only run if some task does notify: Reload Caddy
- name: Reload Caddy
  systemd:
    name: caddy
    state: reloaded
  failed_when: false
  register: caddy_reload

- name: Restart Caddy if reload failed
  systemd:
    name: caddy
    state: restarted
  when: caddy_reload.failed
