---
- name: Create media directory
  file:
    path: "{{ jellyfin_media_path }}"
    state: directory
    mode: '0755'

- name: Create and start Jellyfin container
  containers.podman.podman_container:
    name: jellyfin
    image: docker.io/jellyfin/jellyfin:latest
    state: started
    recreate: yes
    restart_policy: always
    ports:
      - "8096:8096"
    env:
      TZ: "{{ jellyfin_timezone }}"
    volumes:
      - jellyfin-config:/config
      - jellyfin-cache:/cache
      - "{{ jellyfin_media_path }}:/media:ro"
    # Added platform to help with architecture detection issues on ARM64
    # This specifically helps if the host architecture detection is ambiguous
    # platform: linux/arm64
