---
- name: Stop systemd-resolved (conflicts with port 53)
  systemd:
    name: systemd-resolved
    state: stopped
    enabled: no
  ignore_errors: yes

- name: Set DNS to external resolver
  copy:
    content: |
      nameserver 1.1.1.1
      nameserver 1.0.0.1
    dest: /etc/resolv.conf
    mode: '0644'

- name: Create and start Pi-hole container
  containers.podman.podman_container:
    name: pihole
    image: docker.io/pihole/pihole:latest
    state: started
    recreate: yes
    restart_policy: always
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "{{ pihole_web_port }}:80/tcp"
    env:
      TZ: "{{ pihole_timezone }}"
      WEBPASSWORD: "{{ pihole_password }}"
      PIHOLE_DNS_: "{{ pihole_dns1 }};{{ pihole_dns2 }}"
    volumes:
      - pihole-data:/etc/pihole
      - pihole-dnsmasq:/etc/dnsmasq.d
