---
- name: Pull Pi-hole image
  command: podman pull docker.io/pihole/pihole:latest
  register: pull_result
  changed_when: "'already present' not in pull_result.stdout"
  async: 600
  poll: 30

- name: Stop systemd-resolved (conflicts with port 53)
  systemd:
    name: systemd-resolved
    state: stopped
    enabled: no
  ignore_errors: yes

- name: Set DNS to external resolver
  copy:
    content: |
      nameserver 1.1.1.1
      nameserver 1.0.0.1
    dest: /etc/resolv.conf
    mode: '0644'

- name: Create and start Pi-hole container
  command: >
    podman run -d --name pihole
    --replace
    -p 53:53/tcp -p 53:53/udp -p {{ pihole_web_port }}:80/tcp
    -e TZ={{ pihole_timezone }}
    -e WEBPASSWORD={{ pihole_password }}
    -e PIHOLE_DNS_={{ pihole_dns1 }};{{ pihole_dns2 }}
    -v pihole-data:/etc/pihole
    -v pihole-dnsmasq:/etc/dnsmasq.d
    docker.io/pihole/pihole:latest
  register: pihole_result
  changed_when: pihole_result.rc == 0
