---
- name: Configure ARM Lab Instance
  hosts: all
  gather_facts: yes
  become: yes

  roles:
    - podman
    - discordbot
    - tailscale
    - vaultwarden
    #- pihole
    #- jellyfin
    - shiori
    #- qbittorrent
    - useranalytics-backend
    - useranalytics-svelte
