#  ansible-playbook playbooks/pi.yml
- name: Pi base setup
  # hosts: all
  hosts: pi
  gather_facts: yes
  become: yes #sudo mode
  roles:
    - { role: podman, tags: podman }
    - { role: pihole, tags: pihole }
    - { role: discordbot, tags: discordbot }
    - { role: tailscale, tags: tailscale }
    - { role: vaultwarden, tags: vaultwarden }
    # pihole was installed manually this time.

    # TODO figure out how to get jellyfin working on arm
    # ansible-playbook playbooks/pi.yml --tags "jellyfin"
    #- { role: jellyfin, tags: jellyfin }
    - { role: shiori, tags: shiori }
    - { role: memos, tags: memos }
    #- { role: qbittorrent, tags: qbittorrent }
    - { role: useranalytics-backend, tags: analytics }
    - { role: useranalytics-svelte, tags: analytics }
    - { role: translations, tags: translations }
    # ansible-playbook playbooks/pi.yml --tags "monitoring,grafana"
    - { role: grafana, tags: grafana }
    - { role: prometheus, tags: monitoring }
    - { role: loki_setup, tags: monitoring }
    - { role: alloy_setup, tags: ["monitoring", "alloy"] }
    # - { role: node_exporter, tags: ["monitoring", "node_exporter"] } //not needed with current alloy config. alloy can scrape the data itself and send to prometheus.
# ansible-playbook playbooks/pi.yml --tags "calendar-app" -K --vault-password-file ~/.ansible_vault_pass
    - role: calendar-app
      tags: calendar-app
