---
- name: Install Tailscale
  shell: curl -fsSL https://tailscale.com/install.sh | sh
  args:
    creates: /usr/bin/tailscale

- name: Check if Tailscale is already authenticated
  command: tailscale status
  register: tailscale_status
  failed_when: false
  changed_when: false

- name: Authenticate Tailscale
  command: tailscale up --authkey {{ tailscale_authkey }}
  when:
    - tailscale_authkey | length > 0
    - tailscale_status.rc != 0
