---
- name: Wait for apt lock to be released
  shell: while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done
  changed_when: false

- name: Wait for automatic updates to finish
  shell: while pgrep -x apt-get >/dev/null || pgrep -x dpkg >/dev/null; do sleep 5; done
  changed_when: false

- name: Install dependencies
  apt:
    name:
      - debian-keyring
      - debian-archive-keyring
      - apt-transport-https
      - curl
    state: present
    update_cache: yes
  retries: 3
  delay: 10

- name: Add Caddy GPG key
  shell: |
    curl -1sLf 'https://dl.cloudsmith.io/public/caddy/stable/gpg.key' | gpg --dearmor -o /usr/share/keyrings/caddy-stable-archive-keyring.gpg
  args:
    creates: /usr/share/keyrings/caddy-stable-archive-keyring.gpg

- name: Add Caddy repository
  shell: |
    curl -1sLf 'https://dl.cloudsmith.io/public/caddy/stable/debian.deb.txt' | tee /etc/apt/sources.list.d/caddy-stable.list
  args:
    creates: /etc/apt/sources.list.d/caddy-stable.list

- name: Install Caddy
  apt:
    name: caddy
    state: present
    update_cache: yes

- name: Configure Caddyfile
  template:
    src: Caddyfile.j2
    dest: /etc/caddy/Caddyfile
    owner: root
    group: root
    mode: '0644'
  notify: Reload Caddy

- name: Ensure Caddy is enabled and running
  systemd:
    name: caddy
    state: started
    enabled: yes
