---
- name: Install required packages
  package:
    name:
      - podman
      - python3-requests
    state: present
  become: true

- name: Create CouchDB data and config directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_id'] }}"
    mode: '0755'
  loop:
    - "{{ couchdb_data_dir }}"
    - "{{ couchdb_config_dir }}"
