---
- name: Create downloads directory
  file:
    path: "{{ qbittorrent_download_path }}"
    state: directory
    mode: '0755'

- name: Create and start qBittorrent container
  containers.podman.podman_container:
    name: qbittorrent
    image: docker.io/linuxserver/qbittorrent:latest
    state: started
    recreate: yes
    restart_policy: always
    ports:
      - "8080:8080"
      - "6881:6881/tcp"
      - "6881:6881/udp"
    env:
      TZ: "{{ qbittorrent_timezone }}"
      PUID: "{{ qbittorrent_puid }}"
      PGID: "{{ qbittorrent_pgid }}"
      WEBUI_PORT: "8080"
    volumes:
      - qbittorrent-config:/config
      - "{{ qbittorrent_download_path }}:/downloads"
